mat-toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures the toolbar is above other content */
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0 8px;
}

.logo-text {
  background: linear-gradient(168deg, rgba(240, 51, 214, 1) 0%, rgba(139, 51, 255, 1) 96%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}
