/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

html,
body {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.active-link {
  background-color: rgba(255, 255, 255, 0.15);
  font-weight: 600;
}
